doctype html

html
  head
    title Product Catalogue Management
  body
    h1 Welcome to Product Catalogue Management
    p This web application allows you to manage the product records in your catalogue.
    table(width="50%" height="50%" border="1" cellpadding="10" cellspacing="0")
        tbody            
            tr
                td(align="center")
                    a(href="/viewAllProducts") View All Products
                td(align="center")
                    a(href="/createNewProduct") Create New Product
